@import url('fonts-colors.css');

/* ---------------------------- NAV --------------------------------- */

body {
    height: 100vh;
    width: 100%;
    background-color: var(--color-body);
}

.navbar {
    background-color: var(--color-nav);
    display: flex;
    align-items: center;
    justify-content: left;

    padding: 1rem 0 1rem 2rem;

    position: sticky;
    top: 0;
    z-index: 1;
}

.logo {
    width: 250px;
}

/* ----------------------- MAIN ---------------------------- */

.main {
    width: 50%;
    margin: auto;
    padding: 2rem 0;
}

.name_redsocial {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.foto_name {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
} 

/*
.foto {
    width: 100px;
} */

.initials_name {
    position: relative;
    width: 100px; 
    height: 100px; 
    padding: 2.5rem;
    box-sizing: border-box;
    border-radius: 50%;
    box-shadow: 1px 1px 10px 1px var(--color-dark-turquesa);
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}

.initials_name::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    border: 2px solid var(--color-dark-turquesa);
    border-top-color: transparent;
    border-left-color: transparent;
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



.initials {
    color: var(--color-gris);
    font-size: 1.5rem;
}

.my_name {
    font-size: 2.3rem;
    color: var(--color-white);
}

.username {
    text-decoration: none;
    color: var(--color-dark-turquesa);
    font-size: .9rem;
}

.my_redes ul {
    height: 50px;
    width: 280px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text_description {
    margin-top: 3rem;

    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.text_myinfo {
    text-align: center;
    color: var(--color-white);
    font-size: .9rem;
    width: 61%;
    margin: auto;
}

/* ----------------------- PROJECTS ---------------------- */

.project_name {
    margin: 4rem 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
}

.tlt-initial-projects {
    color: var(--color-white);
    font-size: 2.3rem;
}

.gap_name {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title-for-company {
    display: flex;
    flex-direction: column;
}

.title-for-company p {
    font-size: .8rem;
    color: var(--color-white);
    width: 330px;
}

.name_title {
    color: var(--color-white);
}

.content_name_slogan {
    padding: 1.5rem;
    border-radius: 10px;
    background-color: var(--color-nav);

    width: 350px;
}

.name_slogan {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.link_project {
    text-decoration: none;
}

.name_is_project {
    font-size: 1.1rem;
    color: var(--color-dark-turquesa);
    font-weight: 500;
}

.icon-name-project {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.icon-name-project svg path {
    fill: var(--color-dark-turquesa);
}

.slogan_project {
    color: var(--color-white);
    font-size: .9rem;
}



/* FOOTER */

.a_footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-decoration: none;
    padding: 90px 0;
}

.instagram_text {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: .5rem;
    text-transform: uppercase;
    color: var(--color-dark-turquesa);
    height: 35px; 
}

.date_page {
    font-size: .9rem;
    color: var(--color-dark-turquesa);
}

.text_footer {
    font-size: .8rem;
    color: var(--color-dark-turquesa);
}

.instagram_text:hover  {
    text-decoration: underline;
}

/* Modal */

.text_alert {
    font-size: .9rem;
    color: var(--color-red-claro);

    padding: 1rem 0;
}

#alert-inventary {
    display: flex;
    align-items: center;
    justify-content: center;
}

.down-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3rem;

    text-decoration: none;
    text-align: center;
    background-color: var(--color-dark-turquesa);
    color: var(--color-white);
    padding: .5rem 0;
    border-radius: 10px;
    font-size: .9rem;
    cursor: pointer;
}

.down-text svg path {
    stroke: var(--color-white);
}

.events-none {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .3rem;

    text-decoration: none;
    text-align: center;
    background-color: var(--color-light-gray);
    color: var(--color-white);
    padding: .5rem 0;
    border-radius: 10px;
    font-size: .9rem;
}

.events-none svg path {
    stroke: var(--color-white);
}

.info-process {
    text-align: center;
    color: var(--color-rosy-red);
    font-size: .9rem;
}


/* MODAL VENDEX */

.modal-vendex {
    display: none;
    height: 130px;
    width: 400px;
    border-radius: 10px;
    background-color: var(--color-nav);
    backdrop-filter: blur(5px);
    box-shadow: 1px 1px 10px 2px var(--color-dark-turquesa-claro);
    animation: palpita 2s ease-in-out infinite;
}

@keyframes palpita {
    0% {
        box-shadow: 1px 1px 10px 2px var(--color-dark-turquesa-claro);
    }

    100% {
        box-shadow: 1px 1px 10px 2px transparent;
    }
}

.vendex-files {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: .4rem;
}

.vendex-files a {
    text-decoration: none;
    font-size: .9rem;
    color: var(--color-white);
    background-color: var(--color-dark-turquesa);
    padding: .4rem;
    width: 320px;
    text-align: center;
    border-radius: 10px;
}



/* MEDIA QUERY */

@media (max-width: 560px) {
    .main {
        width: 100%;
    }

    .name-company {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logo {
        width: 250px;
    }

    .my_foto {
        width: 100px;
        height: 100px;
    }
    
    .my_name, .tlt-initial-projects {
        font-size: 1.5rem;
    }

    .name_title {
        font-size: 1.2rem;
    }
            
    .my_redes ul {
        width: 200px;
    }

    .a_footer {
        gap: 1rem;
    }

    .content_name_slogan {    
        width: 280px;
    }

    .instagram_text svg {
        margin: 0 0 0 3.5rem;
    }

    .text_myinfo {
        text-align: start;
        width: 80%;
    }

}